<div class="main_form">
    {{ form_start(form) }}

    {{ form_errors(form.numbers) }}

    <ul id="number-fields-list"
        class="list-group inputs-list-group"
        data-prototype='<div class="form-group"><label class="control-label col-sm-3" for="form_numbers___name__">Enter value: </label><div class="col-sm-8"><input type="number" min="1" id="form_numbers___name__" name="form[numbers][__name__]" required="required" class="form-control" /></div><div class="col-sm-1"><a href="#" class="remove-li">[x]</a></div></div>'
        data-widget-tags="{{ '<li class="list-group-item"></li>'|e }}">
        {% for single in form.numbers %}
            <li class="list-group-item">
                <div class="form-group">
                    {{ form_errors(single) }}
                    <label class="control-label col-sm-3" for="form_numbers___name__">Enter value: </label>
                    <div class="col-sm-8">{{ form_widget(single) }}</div>
                    <div class="col-sm-1"><a href="#" class="remove-li">[x]</a></div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <a href="#"
       class="add-another-collection-widget btn btn-default pull-left"
       data-list="#number-fields-list">Add another number (max 10)</a>

    {{ form_end(form) }}
</div>