{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% form_theme form _self %}

{% block integer_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="header-title">Please enter values</h3>
            </div>
        </div>

        {% if message is defined and message is not empty %}
            <div class="row">
                <div class="col-md-12"><div class="alert alert-info">{{ message }}. {{ result ? "Result:" ~ result }}. <a href="{{ url('index') }}">Generate new</a></div></div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                {% include 'index/form.html.twig' %}
            </div>
        </div>

        {% if previous_tests is defined and previous_tests is not empty %}
            <div class="current-results">
                <p>Already generated numbers:</p>
                <ul class="list-unstyled">
                    {% for single in previous_tests %}
                        <li>{{ single.getAllNumbersAsString() }}, result: <b>{{ single.getResult() }}</b></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
