$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$container-large-desktop: 970px;
$body-bg:               #020000;
$text-color:            #fff;
$brand-primary:         #d4b34c;

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background: no-repeat url('../images/bgBody.png') 50% 0,
    no-repeat url('../images/footer.png') 50% 100%,
    repeat-y url('../images/bgFiller.png') 50% 0,
    $body-bg
  ;
  min-height: calc(100vh - 282px);
}

.main-container {
  margin-top: 282px;
  padding: 0 207px 50px 15px;
}

.header-title {
  margin-top: 0;
  line-height: 36px;
}

.add-another-collection-widget {
  margin-right: 10px;
}

.main_form {
  margin-bottom: 20px;
}

.list-group-item {
  background: none;
  border: 0 none;
  clear: both;
}

.inputs-list-group {
  width: 500px;
  line-height: 33px;
}